*{
    margin:0;
    padding:0
}
/* font style */
.inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */

.bg-color{
    background-color: rgb(245,248,255);
}
.color-1{
    color:#8987A1;
}
.bg-w{
    width:1140px;
    margin:0 auto;
}
.btn{
    background-color: #E95A08;
    color:#ffffff;
    padding:.5rem 1rem;
    width:100%;
    border: none;
    font-size:1rem;
    font-weight:500;
}

/* header style */

.header{
    width: 1140px;
    margin:0 auto;
}

/* nav style  */
.nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:30px 0;
}
.navbar{
    display:flex;
    align-items: center;
    gap:48px;
}
.logo img{
    width:135px;
    height:82px;
}
.navbar ul span{
    margin-right:10px;
}

/* bannar style  */
.bannar{
    display:flex;
    align-items:flex-end;
    padding-top:120px;
}
.bannar-content,.bannar-img{
    width:50%;
}
.bannar-content h1{
    font-weight: bold;
    font-size:4rem;
}
.bannar-content p{
    font-size:22px;
    margin-top:20px;
    word-spacing:3px;
}
.bannar-content h1 span{
    color:#E95A08;
}

/* Plant section styles  */
.plant-section{
    margin-top:6.5rem;
}
.plant-content{
    margin-bottom:3.1rem;
}

.plant-content h1{
    font-size:3.125rem;
    font-weight:bold;
    text-align:center;
    margin-bottom:1rem;
}
.plant-content h1 span{
    color:#E95A08;
}
.plant-content p{
    font-size:1.375rem;
    text-align:center;
    text-indent:12.5rem;
}

.plant-items{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    text-align:center;
    gap:1.5rem;
}
.plant-item h4{
    font-weight:300;
    font-size:1.2rem;
    padding:.5rem 0;
}
.plant-item span{
    font-weight: bolder;
    font-size:1.2rem;
}
.plant-item button{
    margin-top:.8rem;
}

/* plant-lover style  */

.plant-lover{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:37.3125rem;
    padding-top:13rem;
    padding-bottom: 6rem;
    position:relative;
}
.image-container{
    width:33.75rem;
}
.image-container img{
    width:100%;
}
.overlay-img{
    width:286px;
    height:286px;
    position:absolute;
    top:60px;
    left:355px;
}
.overlay-img img{
    width:100%;
    
}
.plant-lover-content{
    width:30rem;
}
.plant-lover-content ul{
    margin-left:1.3rem;
    width:26rem;
}
.plant-lover-content h2{
    font-size:3.125rem;
    font-weight: bold;
}
.plant-lover-content ul li{
    margin:20px 0;
    font-size:1.25rem;
}

/* join section style  */
 .join-section{
    width:1440px;
    margin:0 auto;
    padding:50px 0;
 }
 .bg-img{
    background-image: url("./image/news-letter-bg.png");
    width:100%;
    height:400px;
    position:relative;
 }
 .join-content{
    position: absolute;
    top:160px;
    left:305px;
 }
 .join-content h3{
    font-size:50px;
    font-weight: bold;
    color:#ffffff;
    text-align:center;
    margin-bottom:25px;
 }
 .input-section{
    width:830px;
    margin:0 auto;
    display:flex;
 }
 .input-section input[type="email"]{
    width:80%;
    padding:10px 20px;
    border:1px solid #ffffff;
 }
 .input-section input::placeholder{
    font-size:1rem;
    color:#8987A1;
 }
 .input-section button{
    width:20%;
    padding:10px 0;
 }

 















/* resposive design */
@media screen and (max-width:576px){
    .header{
        width:576px;
        margin:0 auto;
    }
    .nav{
        width:90%;
    }
    .cart{
        display:none;
    }
    .logo img{
        width:78px;
        height:45px;
        margin-left:14px;
    }
    .navbar:last-child{
        font-size:22px;
    }
    .bannar{
        flex-direction: column-reverse;
        align-items:center;
    }
    .bannar-img{
        width:90%;
    }
    .bannar-content{
        width:90%;
    }
    .bannar-content h1{
        font-size:44px;
    }
    .bannar-content p{
        font-size:18px;
    }

    /* plant section styles  */
    main{
        width:576px;
        margin:0 auto;
    }
    .plant-items{
    grid-template-columns: repeat(2,1fr);
    text-align:center;
    gap:1.5rem;
    }
    .plant-content p{
    font-size:14px;
    width: 400px;
    text-align:center;
    margin:0 auto;
    text-indent: 1rem;
    }

    /* plant-lover style  */
    .plant-lover{
        width:576px;
        margin:0 auto;
        flex-direction: column;
        margin:0;
        padding:25px;
    }
    .overlay-img{
        display:none;
    }
    .image-container img{
        margin-left:0;
    }
    .plant-lover-content{
        padding:50px 0;
    }
    .plant-lover-content h2{
        font-size:30px;
    }
    .plant-lover-content ul li{
        font-size:1rem;
    }
    

}